.container {
    height: 80px;
    background-color: lightgrey;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container a{
    text-decoration: none;
}

a:hover{
    color: aqua;
}